* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Castellar;
    src: url(../fonts/CASTELAR.ttf);
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    background-color: #004156;
    height: 100%;
    overflow: auto;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
    background-image: linear-gradient(to right, #D7803B, #004156);
    align-items: center;
    /* border: solid white 1px; */
}

.navbar .lakesideName a {
    text-decoration: none;
    color: black;
    margin-left: 35px;
}

.navbar .lakesideName h2 {
    font-family: Castellar;
    font-size: 25px;
    transition: all 200ms;
}

.navbar .lakesideName h2:hover {
    text-shadow: 0 0 1px white, 0 0 3px white;
}

.navLinks {
        display: flex;
        list-style: none;
        width: 30%;
        height: 100%;
        justify-content: space-between;
        align-items: center;
        margin-right: 2%;
}

.navLinks li a {
    font-family: Castellar;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.navLinks li a:hover {
    color: white;
    transition: all 500ms;
}

.mainPage {
    margin-top: 3%;
    position: relative;
    text-align: center;
    color: white;
}

.lakeside {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lakeside img {
    transition: all 600ms;
}

.lakeside img:hover {
    transform: scale(1.2);
}

.contactPage {
    text-align: center;
    margin-top: 5%;
}

.contactPage h1 {
    margin-top: 10%;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

.contactPage p {
    color: white;
    font-size: 15px;
}

input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 2px solid #D7803B;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #D7803B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
  }

  input[type=submit]:hover {
    background-color: #df6a0a;
  }